.Rproj.user
.Rhistory
.RData
.Ruserdata
John_Hopfield-Physics_View_of_the_Mind_and_Neurobiology-AI_Podcast_76_with_Lex_Fridman-tint_cache/latex/*
John_Hopfield-Physics_View_of_the_Mind_and_Neurobiology-AI_Podcast_76_with_Lex_Fridman-tint_files/figure-latex/*
John_Hopfield-Physics_View_of_the_Mind_and_Neurobiology-AI_Podcast_76_with_Lex_Fridman-tint.log
assets/tint_sample_files/figure-latex/*
assets/tint_sample_cache/latex/*
John_Hopfield-Physics_View_of_the_Mind_and_Neurobiology-AI_Podcast_76_with_Lex_Fridman-tint_cache/latex/unnamed-chunk-33_165107d789491b463b6f69bd9b1b12c6.RData
John_Hopfield-Physics_View_of_the_Mind_and_Neurobiology-AI_Podcast_76_with_Lex_Fridman-tint_cache/latex/unnamed-chunk-33_165107d789491b463b6f69bd9b1b12c6.rdb
John_Hopfield-Physics_View_of_the_Mind_and_Neurobiology-AI_Podcast_76_with_Lex_Fridman-tint_cache/latex/unnamed-chunk-33_165107d789491b463b6f69bd9b1b12c6.rdx
